.tag {
  width: 83px;
  height: 28px;
  border-radius: 12px;
  padding-top: 8px;
  /* padding-left: 14px; */
  text-align: center;
}

.info {
  color: #605dec;
  background-color: #ededfe;
}

.success {
  color: #31aa27;
  background-color: #ebf6eb;
}

.warning {
  color: #e99518;
  background-color: #fff4e4;
}

.error {
  color: #f93232;
  background-color: #fff0f0;
}

.disabled {
  color: #bdbcdb;
  background-color: #f8f9fb;
}