.mainTable {
  width: 100%;
  border: none;
}

.mainTable .tableHeader {
  font-size: var(--sm-font);
  display: none;
}

.mainTable .tableHeaderContent {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainTable .tableContent {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.mainTable .tableRow {
  display: flex;
  font-size: var(--sm-font);

  flex-direction: column-reverse;
  background-color: var(--color-light);
}

.mainTable .sorting {
  position: relative;
}

@media (min-width: 1130px) {
  .mainTable {
    border-radius: 8px;
    border: 1px solid var(--color-border);
  }

  .mainTable .tableHeader {
    display: flex;
    border-bottom: 1px solid var(--color-border);
  }

  .mainTable .tableRow {
    flex-direction: row;
    background-color: transparent;
    border-bottom: 1px solid var(--color-border);
  }

  .mainTable .tableContent {
    gap: 0;
  }
}
