.divTable {
  position: fixed;
  width: 90%;
  padding: 18px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-secondary);
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerRow {
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 18px;
  padding-right: 170px;
}

.headerRow:last-child {
  border: none;
}

.divCell {
  width: calc(100% / 5);
  font-family: Nunito Sans;
  font-size: var(--xs-font);
  font-weight: var(--normal);
  line-height: 20px;
  padding-top: 18px;
}

.title {
  font-family: var(--primary-font);
}

.area {
  border-bottom: 1px solid black;
}

.wrap {
  display: flex;
  font-family: var(--primary-font);
  font-weight: var(--normal);
  line-height: 20px;
}

.img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}

.name {
  margin-bottom: 5px;
  font-size: var(--xs-font);
}

.description {
  color: var(--color-secondary);
  font-size: var(--xss-font);
}

.button {
  display: flex;
  padding-top: 35px;
}

@media only screen and (max-width: 600px) {
  .divTable {
    width: 50%;
    top: 20%;
    left: 50%;
    border: none;
    transform: translate(-50%, -50%);
  }
  
  .headerRow {
    display: block;
    border-bottom: 1px solid var(--color-primary);
  }

  .divCell {
    display: flex;
  }

  .area {
    border-bottom: none;
  }

  .title {
    /* margin-left: 50px; */
  }

}