.homePage {
  background-color: #f8f9fb;
  padding-bottom: 80px;
}

.homePage .tableContainer {
  padding: 0;
}

.homePage .heading {
  margin-bottom: 40px;
}

.homePage .userInformationRow {
  display: flex;
  width: 100%;
}

.homePage .tableHeaderContent {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homePage .copyText {
  font-size: var(--xs-font);
  color: var(--color-secondary);
}

.homePage .userInfo {
  order: 1;
}

.homePage .tableActions {
  display: flex;
  justify-content: flex-end;
  order: -1;
}

.tableActions button {
  margin-left: 22px;
}

.mobileAction {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.mobileAction .sortingOptions {
  position: absolute;
  right: 0;
  top: 25px;
}

@media (min-width: 1130px) {
  .homePage {
    background-color: var(--color-light);
  }

  .homePage .tableActions {
    width: 10%;
    justify-content: space-around;
    order: unset;
  }

  .tableActions button {
    margin-left: unset;
  }

  .homePage .userInfo {
    order: unset;
  }

  .mobileAction {
    display: none;
  }
}