:root {
  /* Colors */
  --color-primary: #1a1a1a;
  --color-secondary: #808080;
  --color-tertiary: #f8f9fb;
  --color-light: #fff;
  --color-light-blue: #0000ff;
  --color-danger: #f93232;
  --color-bg: #9bcae1;
  --color-border: #e4e4ef;
  --color-warning: #e99518;
  --color-success-subtle: #ebf6eb;
  --color-light-subtle: #ededfe;
  --color-info-subtle: #605dec;
  --color-success: #31aa27;
  --color-gradient: #fff4e4;
  --color-light-gradient: #fff0f0;
  --color-info-gradient: #bdbcdb;
  
  /* font families */
  --primary-font: 'Nunito Sans', sans-serif;

  /* font-sizes */
  --xss-font: 12px;
  --xs-font: 14px;
  --sm-font: 16px;
  --md-font: 24px;
  --xxl-font: 48px;

  /* font weights */
  --normal: 400;
  --semi-bold: 600;
  --bold: 700;
}