:root {
  /* Colors */
  --primary-color: #1a1a1a;
  --secondary-color: #808080;
  --color-background: #fff;

  /* font families */
  --primary-font: 'Nunito Sans';

  /* font-sizes */
  --xss-font: 12px;
  --xs-font: 14px;
  --sm-font: 16px;
  --md-font: 24px;
  --xxl-font: 48px;

  /* font weights */
  --normal: 400;
  --semi-bold: 600;
  --bold: 700;
}